.container.text-center.my-3
  .jumbotron(style='background-color: salmon;color: white;')
    h1 YA EXISTE UN USUARIO CON ESE EMAIL
    button.btn.btn-warning.my-5(onclick="location.href='/registro'") VOLVER
