
<!-- Formulario -->
        div(class="jumbotron")
            h1(style="color:blue;") Ingrese datos
            br
            form(action="/personas" method="post")
                div(class="form-group")
                    label(for="nombre")
                        b Nombre
                    input(id="nombre" class="form-control" type="text" name="nombre" onchange="")
                
                div(class="form-group")
                    label(for="apellido")
                    b Apellido
                    input(id="apellido" class="form-control" type="text" name="apellido")
                
                div(class="form-group")
                    label( for="edad")
                    b Edad
                    input(id="edad" class="form-control" type="number" name="edad")
                
                button(class="btn btn-success mt-3 mb-5") Enviar
            