div(class="jumbotron")
            h1(style="color:green;") Bienvenido 
                span=user
            form(action="/privado", method="post") 
                button(class="btn btn-danger mt-3 mb-5" type="submit"  ) Logout